<html>
    <head>
        <title>Zhongli's data</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Zhongli Character Data</a></h1>
        </div>
        <div>
            <p>This data is not from GenshinImpact official but from my own opinion</p>
            <h2><a href="">Who is Zhongli??</a></h2>
            <p>Zhongli is the men character in MMORPG game as know as "GenshinImpact".
                He is the one of most popular character in player community because he has some special method (Handsome).
            </p>
        </div>
        <div>
            <p>about his praticle will be in "Ability"</p>
            <h2><a href="">History of Zhongli</a></h2>
            <p>In Liyue's traditional customs, "receiving adepti" and "sending adepti off" are equally important.</p>
            <p>The Hus of the Wangsheng Funeral Parlor, who have been in this business for 77 generations, are the masters 
                of handling funerals. However, Hu Tao, the current owner of Wangsheng Funeral Parlor, primarily focuses on 
                the art of sending mortals on their way.
            </p>
            <p>For the various ceremonies for sending adepti off, Hu Tao usually employs the help of a friend in more or 
                less the same business. That person's name is Zhongli. The adepti have been with Liyue for millennia, but 
                only a handful have ascended in the past three thousand years, which means that everything regarding the 
                traditions now only exists in texts. This is not something one would likely witness twice in their entire lifetime.
            </p>
            <p>Not even the most particular and learned of researchers or scholars could find one fault in Wangsheng Funeral 
                Parlor's ceremonies for sending adepti off.
            </p>
            <p>Everything must be perfect, from the costumes, the time, the place, the items, the weather, the scheduled length, 
                the size of the permitted audience, to the stature, profession, and age of the said audience. Nothing can be overlooked.
            </p>
            <p>When folk describe Zhongli as "living history," the latter usually only smiles and sighs.</p>
            <p>"I... just have a good memory."</p>
        </div>
        <div>
            <h2><a href="">Ability</a></h2>
            <h3>Passive Talents</h3>
            <p>When the Jade Shield takes DMG, it will Fortiry : 
                <br>
                -> Fortifyed characters have 5% increased Shield Strength.
                <br>
                -> Can stack up to 5 times, and lasts until the Jade Shield dissappears.
            </p>
            <p>Zhongli deals bonus DMG based on his Max HP :
                <br>
                -> Normal Attack, Charged Attack, and Plunging Attack DMG is increased by 1.39% of Max HP.
                <br>
                -> Dominus Lapidis' Stone Stele, resonance, and hold DMG is increased by 1.9% of Max HP.
                <br>
                -> Planet Befall's DMG is increased by 33% of Max HP.
            </p>
        </div>
    </body>
</html>